/* @font-face {
  font-family: 'Absolute Beauty Bold';
  src: url(/fonts/AbsoluteBeautyScriptBold.otf);
  font-weight: 700;
  font-display: swap;
} */

:root {
  --font-1: 'Absolute Beauty Bold';
  --font-2: 'Lexend Deca', sans-serif;
  --color-1: #465a3d;
  --color-2: #f0e2d3;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.font-para {
  font-family: var(--font-2);
}
.font-heading {
  /* font-family: var(--font-1); */
}
.font-heading p,
.font-para p {
  white-space: pre-line;
  overflow-wrap: anywhere;
}
.container {
  max-width: 100%;
}
.font-inherit {
  font-family: inherit;
}
.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}
.inner-col {
  max-width: 980px;
  position: relative;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.place-center {
  place-content: center;
}
.text-center {
  text-align: center;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.min-h-screen {
  min-height: 100vh;
}
.min-w-screen {
  min-width: 100vw;
}
.flex-col {
  flex-direction: column;
}
.bg-texture {
  background-color: #fff;
  background-image: url('https://static.namtay.vn/assets/img/theme16/paper-texture.png');
  background-blend-mode: multiply;
  background-repeat: repeat;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.line-height-normal {
  line-height: 1.5;
}
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-12 {
  grid-column: span 12 / span 12;
}
.col-start-6 {
  grid-column-start: 6;
}
.col-start-8 {
  grid-column-start: 8;
}
.col-start-7 {
  grid-column-start: 7;
}
.col-start-1 {
  grid-column-start: 1;
}
.col-start-2 {
  grid-column-start: 2;
}
.col-end-6 {
  grid-column-end: 6;
}
.col-end-7 {
  grid-column-end: 7;
}
.max-w-full {
  max-width: 100%;
}
.image-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper-donate {
  position: fixed;
  right: 50px;
  bottom: 140px;
  z-index: 99;
}
.wrapper-icon {
  position: relative;
}
#nt-sticky-inner {
  top: 26px !important;
  right: 22px !important;
  width: unset !important;
  height: unset !important;
}
#nt-sticky-outer {
  width: 95px !important;
}
#nt-sticky-inner > img {
  width: 45px !important;
}
.t16-intro {
  background-image: url('https://static.namtay.vn/assets/img/theme16/intro-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.t16-intro .container {
  top: -210px;
}
.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
.greeting {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.4rem;
}
.name-wrapper {
  grid-template-columns: 700px 70px 700px;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 3rem 0 1rem;
}
.name {
  font-weight: normal;
  font-size: 200px;
  line-height: 1;
  max-width: 100%;
}
.ampersand {
  height: 85px;
}
.event-time {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.4rem;
  opacity: 1;
}
.t16-event-info {
  padding: 90px;
}
.date {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.datetime {
  font-weight: 500;
  font-size: 52px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.place.event-place {
  font-weight: 300;
  font-size: 24px;
}
.t16-events {
  padding: 50px 90px 50px;
}
.title {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 3rem;
}
.events-wrapper {
  grid-template-columns: repeat(4, minmax(350px, 1fr));
}
.events-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 150px;
  height: 2px;
  background-color: var(--color-1);
  width: 100%;
  z-index: 2;
}
.event-point {
  position: relative;
  grid-template-rows: 150px 1fr;
  justify-content: center;
}
.event-point::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 60px;
  left: 50%;
  top: 152px;
  transform: translateX(-50%);
  background-color: var(--color-1);
  z-index: 2;
}
.event-point:first-child::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 146px;
  background-color: var(--color-1);
  z-index: 2;
  border-radius: 100rem;
}
.event-point:last-child::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  top: 146px;
  background-color: var(--color-1);
  z-index: 2;
  border-radius: 100rem;
}
.icon-box {
  padding: 0 1.5rem;
}
.t16-events .content-box {
  margin-top: 65px;
}
.time {
  font-weight: 200;
  font-size: 28px;
}
.event-title {
  font-weight: 500;
  font-size: 96px;
}
.t16-event-2 .events-wrapper {
  grid-template-columns: repeat(3, minmax(350px, 1fr));
}
.t16-story {
  background-image: url('https://static.namtay.vn/assets/img/theme16/forest-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 140px;
}
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  pointer-events: none;
}
.t16-story .container * {
  z-index: 4;
}
.t16-story .container {
  height: auto;
}
.image-collage-box {
  height: 100%;
  min-height: 640px;
  width: 100%;
}
.collage-1 {
  max-width: 48%;
  max-height: 380px;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 71.5%, 47% 71.5%, 47% 100%, 0 100%);
  top: 0;
}
.collage-1 img {
  top: -60px;
  position: relative;
}
.collage-2 {
  max-width: 48.8%;
  max-height: 400px;
  clip-path: polygon(
    0px 0px,
    100% 0px,
    100% 100%,
    41.5% 100%,
    41.5% 58%,
    0px 58%
  );
  right: 0;
  top: 6%;
}
.collage-3 {
  max-width: 44%;
  max-height: 350px;
  left: 47%;
  transform: translateX(-50%);
  bottom: 0;
}
.vertical-text {
  left: 130px;
  top: 65%;
  text-overflow: ellipsis;
  height: 300px;
  max-width: 150px;
}
.content-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: left;
  font-weight: 100;
  font-size: 17px;
  max-height: 100%;
  max-width: 100%;
}
.content-vertical p {
  text-overflow: ellipsis;
}
.story-title {
  font-size: 96px;
}
.story-content {
  font-size: 20px;
  font-weight: 200;
}
.t16-bio {
  overflow: hidden;
}
.t16-bio .upper-part .main-content {
  padding: 0 140px;
  column-gap: 1rem;
  align-items: start;
  bottom: -120px;
}
.t16-bio .upper-part .content-box {
  text-align: right;
  padding-bottom: 180px;
}
.t16-bio .lower-part {
  background-color: #445a3d;
  background-image: url('https://static.namtay.vn/assets/img/theme16/paper-texture.png'),
    url('https://static.namtay.vn/assets/img/theme16/forest-stroke-bg.png');
  background-blend-mode: multiply, normal;
  background-repeat: repeat, no-repeat;
  background-position: center, bottom;
  padding-bottom: 80px;
}
.t16-bio .lower-part .main-content {
  padding: 0 140px;
  column-gap: 1rem;
  align-items: end;
  top: -90px;
}
.t16-container {
  width: 100%;
  max-width: 100vw;
}
.img-paper-scratch {
  margin-bottom: -6px;
  z-index: 1;
}
.t16-bio .lower-part .content-box {
  top: 80px;
  position: relative;
}
.bride-img {
  z-index: 2;
}
.groom-img {
  z-index: 2;
}
.t16-album {
  background-color: #fff;
  background-image: url('https://static.namtay.vn/assets/img/theme16/paper-texture.png'),
    url('https://static.namtay.vn/assets/img/theme16/forest-stroke-pond.png');
  background-blend-mode: multiply, normal;
  background-repeat: repeat, no-repeat;
  background-position: center, bottom;
  padding: 100px;
}
.album-container {
  grid-template-rows: repeat(60, minmax(0, 16px));
  margin-top: 60px;
  column-gap: 16px;
  height: 960px;
  max-height: 960px;
}
.album-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-item-1 {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 30% 80%, 30% 100%, 0 100%);
  grid-row: 8/33;
  grid-column-start: 1;
}
.album-item-2 {
  clip-path: polygon(0 0, 100% 0, 100% 78%, 74% 78%, 74% 100%, 0 100%);
  grid-row: 1/28;
  grid-column-start: 4;
}
.album-item-3 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 70% 84%, 0 84%);
  grid-column-start: 8;
  grid-row: 12/24;
}
.album-item-4 {
  grid-column-start: 7;
  grid-row: 23/ 45;
}
.album-item-5 {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 59% 80%, 59% 100%, 0 100%);
  grid-row: 29 / 49;
  grid-column-start: 2;
}
.album-item-6 {
  grid-row: 46 / 61;
  grid-column-start: 5;
}
.t16-rsvp {
  padding: 90px 90px 130px;
  background-color: #fff;
  background-image: url('https://static.namtay.vn/assets/img/theme16/paper-texture.png'),
    url('https://static.namtay.vn/assets/img/theme16/mountain-stroke-w.png');
  background-blend-mode: multiply, normal;
  background-repeat: repeat, no-repeat;
  background-position: center, bottom;
}
.question {
  font-size: 28px;
}
.explain {
  font-weight: 200;
  font-size: 20px;
  margin-top: 1.5rem;
  text-align: justify;
  margin-bottom: 40px;
}
.form {
  margin: 2rem auto 0;
}
.form-control {
  margin-bottom: 45px;
}
.form-label {
  font-size: 20px;
  font-weight: 200;
}
.form input[type='text'],
.form input[type='tel'] {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-1);
  min-height: 50px;
  font-size: 1rem;
}
.form input:focus {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
.form input[type='radio'] {
  background-color: transparent;
  border: 1px solid var(--color-2);
  position: relative;
  width: 0;
}
input[type='radio']:after {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  top: -15px;
  left: -50px;
  position: relative;
  background-color: transparent;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #000;
}
input[type='radio']:checked:before {
  content: url('https://static.namtay.vn/assets/img/theme14/check-mark.png');
  width: 30px;
  height: 30px;
  top: -26px;
  left: -50px;
  position: absolute;
  display: block;
}
.form-question {
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}
.form-question .btn-wrap {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.btn-box {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
.btn-box:first-child {
  margin-left: 13%;
}
.form-btn-text {
  margin-top: 0;
  font-weight: 200;
  font-size: 20px;
}
.form-submit {
  padding: 24px 42px;
  font-size: 20px;
  background-color: var(--color-1);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-inline: auto;
}
.t16-footer {
  background-color: var(--color-1);
  padding: 1.3rem 0 1rem 0;
}
.t16-footer-content {
  gap: 1rem;
  color: #fff;
  font-size: 32px;
}

#itwkmo {
  text-align: left;
}

#i9sb {
  background-image: url('https://image.namtay.vn/fit/1920/images/wedsite/QzqoBf3n0y_tmp.png');
}

@media (max-width: 1440px) {
  .events-wrapper {
    grid-template-columns: repeat(4, 1fr);
    width: calc(100vw - 180px);
  }
  .name {
    font-size: 160px;
  }
  .t16-story {
    padding: 90px;
  }
  .image-collage-box {
    height: 533px;
    min-height: 676px;
    width: 100%;
    grid-column: span 6 / span 6;
  }
  .story-content {
    font-size: 18px;
  }
  .collage-1 {
    clip-path: polygon(0 0, 100% 0, 100% 80.5%, 45% 80.5%, 45% 100%, 0 100%);
  }
  .collage-2 {
    clip-path: polygon(
      0px 0px,
      100% 0px,
      100% 100%,
      42.5% 100%,
      42.5% 66%,
      0px 66%
    );
  }
  .t16-bio .upper-part .main-content,
  .t16-bio .lower-part .main-content {
    padding: 0 90px;
  }
  .t16-bio .upper-part .content-box {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .t16-bio .upper-part .img-box {
    grid-column: span 6 / span 6;
    grid-column-start: 8;
  }
  .t16-bio .lower-part .img-box {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
  }
  .t16-bio .lower-part .content-box {
    grid-column: span 6 / span 6;
    grid-column-start: 7;
    top: 0;
  }
  .vertical-text {
    left: 60px;
    top: 57%;
  }
}
@media only screen and (max-width: 1194px) {
  .container {
    max-width: 100% !important;
  }
  .name {
    font-size: 93px;
  }
  .ampersand {
    height: 40px;
  }
  .t16-events {
    padding: 50px;
  }
  .event-title {
    font-size: 75px;
  }
  .event-point::before {
    height: 25px;
    top: calc(50% + 2px);
  }
  .event-point:last-child::after,
  .event-point:first-child::after {
    top: calc(50% - 4px);
  }
  .events-wrapper::before {
    top: 50%;
  }
  .t16-story {
    padding: 90px 50px;
  }
  .image-collage-box {
    height: 425px;
    min-height: 425px;
  }
  .content-vertical {
    font-size: 13px;
    max-height: 80%;
  }
  .t16-story .content-box {
    grid-column: span 5 / span 5;
    grid-column-start: 8;
  }
  .story-title {
    font-size: 72px;
  }
  .story-content {
    font-size: 16px;
    font-weight: 200;
  }
  .t16-bio .upper-part .main-content,
  .t16-bio .lower-part .main-content {
    padding: 0 50px;
    max-width: 100vw;
    column-gap: 0;
  }
  .t16-bio .upper-part .content-box {
    grid-column: span 6 / span 6;
    grid-column-start: 1;
  }
  .t16-bio .upper-part .img-box {
    grid-column: span 5 / span 5;
    grid-column-start: 8;
  }
  .t16-bio .lower-part .img-box {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
  }
  .t16-bio .lower-part .content-box {
    grid-column: span 5 / span 5;
    grid-column-start: 8;
    top: 0;
  }
  .t16-album {
    padding: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .t16-intro {
    background-position: 30%;
  }
  .greeting {
    font-weight: 300;
    font-size: 24px;
  }
  .event-time {
    font-weight: 300;
    font-size: 24px;
  }
  .name {
    font-size: 140px;
    font-weight: 300;
  }
  .ampersand {
    height: 35px;
  }
  .t16-event-info {
    padding: 50px;
  }
  .t16-events {
    padding: 0 50px 50px;
  }
  .date {
    font-size: 20px;
  }
  .datetime {
    font-size: 40px;
  }
  .place.event-place {
    font-size: 20px;
  }
  .events-wrapper {
    grid-template-columns: unset;
    margin-top: 60px;
    width: calc(100vw - 100px);
  }
  .t16-event-2 .events-wrapper {
    grid-template-columns: unset;
  }
  .events-wrapper::before {
    left: 50%;
    height: 1px;
    background-color: var(--color-1);
    transform: rotateZ(90deg);
    width: 100%;
    z-index: 2;
  }
  .event-point {
    grid-template-rows: unset;
    grid-template-columns: 1.5fr 1fr;
  }
  .event-point::before {
    width: 50px;
    height: 1px;
    left: calc(50% + 1px);
    top: 50%;
    transform: translateY(-50%);
  }
  .events-wrapper::before {
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    transform: rotateZ(0deg);
  }
  .event-point:first-child::after {
    top: 0;
    left: calc(50% - 4px);
  }
  .event-point:last-child::after {
    top: unset;
    bottom: 0;
    left: calc(50% - 4px);
  }
  .icon-box {
    text-align: left;
  }
  .time {
    font-size: 1rem;
    font-weight: 300;
  }
  .event-title {
    font-size: 70px;
    line-height: 1.2;
    font-weight: 400;
  }
  .t16-events .content-box {
    display: grid;
    place-content: center;
    gap: 1rem;
  }
  .t16-story {
    padding: 50px;
  }
  .story-title {
    font-size: 60px;
  }
  .t16-story .container {
    grid-template-columns: 1fr;
    row-gap: 9rem;
  }
  .image-collage-box {
    min-height: 588px;
    height: 677px;
    grid-column-start: 1;
    width: 100%;
  }
  .t16-story .content-box {
    grid-column-start: 1;
  }
  .story-content {
    font-size: 16px;
    font-weight: 200;
  }
  .content-vertical {
    font-size: 14px;
  }
  .t16-bio .upper-part .main-content {
    grid-template-columns: 1fr;
    width: 100vw;
    padding: 0 50px 210px;
  }
  .t16-bio .upper-part .content-box {
    grid-column: span 12 / span 12;
    padding-bottom: 60px;
  }
  .t16-bio .upper-part .img-box {
    grid-column: span 12 / span 12;
  }
  .t16-bio .lower-part .main-content {
    padding: 0 50px;
    grid-template-columns: 1fr;
    width: 100vw;
  }
  .t16-bio .lower-part .img-box {
    grid-column: span 12 / span 12;
  }
  .t16-bio .lower-part .content-box {
    grid-column: span 12 / span 12;
    grid-column-start: 1;
    padding-top: 60px;
  }
  .groom-img {
    width: 100%;
  }
  .bride-img {
    width: 100%;
  }
  .t16-album {
    padding: 50px;
  }
  .explain {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .form-label {
    font-size: 16px;
  }
  .form-btn-text {
    font-size: 16px;
  }
  .form-submit {
    padding: 20px 36px;
    font-size: 16px;
    border-radius: 3px;
  }
}
@media only screen and (max-width: 672px) {
  .t16-intro .container {
    top: unset;
  }
  .flex-col-bm {
    flex-direction: column;
  }
  .name-wrapper {
    gap: 1rem;
    width: 100vw;
    margin-inline: 20px;
  }
  .greeting {
    font-size: 1rem;
    font-weight: 400;
  }
  .event-time {
    font-size: 1rem;
    font-weight: 400;
  }
  .name {
    font-size: 120px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
  }
  .ampersand {
    height: 50px;
  }
  .t16-event-info {
    padding: 96px 2rem;
  }
  .name-wrapper {
    font-size: 1rem;
  }
  .place.event-place {
    font-size: 1rem;
  }
  .date {
    font-size: 1rem;
  }
  .place.event-place {
    width: 80%;
  }
  .datetime {
    font-size: 2rem;
  }
  .t16-events {
    padding: 0 20px 40px;
  }
  .events-wrapper {
    grid-template-columns: unset;
    margin-top: 60px;
    width: calc(100vw - 80px);
  }
  .t16-event-2 .events-wrapper {
    grid-template-columns: unset;
  }
  .events-wrapper::before {
    left: 45%;
    height: 1px;
    background-color: var(--color-1);
    transform: rotateZ(90deg);
    width: 100%;
    z-index: 2;
  }
  .event-point {
    grid-template-rows: unset;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
  }
  .event-point::before {
    width: 50px;
    height: 1px;
    left: calc(45% + 1px);
    top: 50%;
    transform: translateY(-50%);
  }
  .events-wrapper::before {
    left: 45%;
    top: 0;
    width: 1px;
    height: 100%;
    transform: rotateZ(0deg);
  }
  .event-point:first-child::after {
    top: 0;
    left: calc(45% - 4px);
  }
  .event-point:last-child::after {
    top: unset;
    bottom: 0;
    left: calc(45% - 4px);
  }
  .icon-box {
    text-align: left;
  }
  .time {
    font-size: 1rem;
    font-weight: 300;
  }
  .event-title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
  }
  .content-box {
    display: grid;
    place-content: center;
  }
  .t16-story {
    padding: 90px 20px;
  }
  .t16-story .container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  .image-collage-box {
    min-height: 310px;
    height: 430px;
    width: 100%;
    grid-column-start: 1;
  }
  .collage-1 {
    max-width: 55%;
    margin-bottom: unset;
    max-height: 220px;
    left: 0;
  }
  .collage-2 {
    max-width: 41.8%;
    margin-left: 7px;
    margin-right: 0;
    margin-top: 8%;
    clip-path: polygon(
      0px 0px,
      100% 0px,
      100% 100%,
      42.5% 100%,
      42.5% 54%,
      0px 54%
    );
  }
  .collage-3 {
    max-width: 44%;
    left: 50%;
    margin-top: -60px;
  }
  .content-vertical {
    max-width: 100px;
    margin-top: 0%;
    margin-left: 0%;
    max-height: 76%;
    font-size: 16px;
  }
  .story-title {
    font-size: 70px;
    line-height: 1.2;
  }
  .story-content {
    font-size: 14px;
  }
  .t16-bio .upper-part .main-content {
    padding: 60px 20px 90px;
    bottom: 0px;
  }
  .t16-bio .lower-part .main-content {
    padding: 0 20px;
  }
  .t16-bio .lower-part {
    background-color: #445a3d;
    background-image: unset;
    background-position: center;
  }
  .grid-cols-12 {
    grid-template-columns: 1fr;
  }
  .img-box,
  .t16-bio .content-box {
    grid-column: span 12 / span 12;
  }
  .t16-bio .upper-part .content-box {
    text-align: left;
    padding-bottom: 50px;
  }
  .t16-bio .lower-part .content-box {
    padding-top: 0;
    margin-top: 50px;
  }
  .groom-img {
    bottom: unset;
  }
  .bride-img {
    margin-top: -20px;
  }
  .col-start-8 {
    grid-column-start: 1;
  }
  .t16-album {
    padding: 60px 20px 100px;
    background-position: center, 21% 100%;
    background-size: cover, 196%;
  }
  .album-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    max-height: 100%;
    height: auto;
  }
  .album-container div {
    grid-column: span 12 / span 12;
    clip-path: unset;
    grid-row: auto;
    grid-column-start: 1;
  }
  .t16-rsvp {
    padding: 60px 20px 150px;
    background-position: center, 66% 98%;
  }
  .question {
    font-size: 20px;
    font-weight: 400;
  }
  .explain {
    font-size: 14px;
  }
  .form label {
    font-size: 14px;
  }
  .form input[type='text'],
  .form input[type='tel'] {
    min-height: 40px;
    font-size: 14px;
  }
  input[type='radio']:after {
    width: 24px;
    height: 24px;
    top: -7px;
  }
  input[type='radio']:checked:before {
    top: -22px;
    left: -57px;
    transform: scale(0.6);
  }
  .form-question .btn-wrap {
    gap: 3rem;
    align-items: baseline;
    width: 100%;
    flex-direction: column;
  }
  .btn-box {
    margin-left: 13%;
  }
  .t16-intro {
    background-position: 30%;
    padding: 50px;
  }
  .wrapper-donate {
    right: 14px;
    bottom: 53px;
    transform: scale(0.7);
  }
  .vertical-text {
    left: 70px;
    top: 55%;
  }
}

/* Sticky */
#call-to-donate {
  position: fixed;
  bottom: 0px;
  right: 0px;
  transition: bottom 0.5s linear;
  z-index: 9999;
}

#nt-sticky-outer {
  animation: 10s linear 0s infinite innerrotate;
}

#call-to-donate > div {
  position: relative;
}

#nt-sticky-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  display: flex;
  justify-content: center;
}

#nt-sticky-inner > img {
  width: 36px;
  object-fit: contain;
  animation: 8s linear 0s infinite outerrotate;
}

@keyframes outerrotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes innerrotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
